<p>
  <%= link_to "Sign in as an existing user", new_user_session_path %>
</p>

<hr>

<p>
  <h3>Sign up as a new user</h3>
</p>

<%= simple_form_for [:accepted, @invitation], as: :user do |f| %>
  <%= f.input :email, value: @invitation.email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.submit "Accept Invitation", class: "btn btn-primary" %>
<% end %>
