<%= simple_form_for [@book, @chapter, @note, @comment] do |f| %>
  <div class="comment_form">
    <strong>Comment on this note (Markdown enabled)</strong>
    <p>
      <% if owner? %>
        <% if @note.completed? %>
          <%= f.submit "Reopen", :class => "reopen-button" %>
        <% else %>
          <%= f.submit "Accept", :class => "accept-button", :tabindex => 2 %>
          <%= f.submit "Reject", :class => "reject-button", :tabindex => 3 %>
        <% end %>
      <% end %>
    </p>

    <p>
      <%= f.input :text, input_html: { rows: 10, tabindex: 1 } %>
    </p>

  </div>
  <p>
    <%= f.submit "Leave Comment", class: "btn btn-primary comment-button", :tabindex => 5 %>
  </p>
<% end %>
