<%= form_with(model: [@book, @chapter, :element, @note]) do |f| %>
  <%= f.fields_for :comments do |comment| %>
    <div class='form-group'>
      <%= comment.label :text, "Leave a note (Markdown enabled)" %>
      <%= comment.text_area :text, class: "form-control" %>
    </div>
  <% end %>

  <p>
    <%= f.submit "Leave Note", class: 'btn btn-primary' %>
  </p>
<% end %>
