<div id='sidebar'>
  <%= link_to "Go back to previous location", :back %><br><br>
  
  <% if @note.state != "complete" %>
    <%= link_to "Mark note as complete", [:complete, @book, @chapter, @note], :method => :put %>
  <% else %>
    <%= link_to "Mark note as reopened", [:reopen, @book, @chapter, @note], :method => :put %>
  <% end %>
</div>
<h2><%= link_to @note.chapter.book.title, @note.chapter.book %> - <%= link_to @note.chapter.title, [@note.chapter.book, @note.chapter] %></h2>
<h3>Note #<%= @note.number %> - <%= @note.state.titleize %></h3>
<%= render_element(@note.element) %>

<div id='note'>
  <h3><%= @note.user.try(:email) || "[deleted]" %> writes:</h3>
  <%= markdown(@note.text) %>
</div>

<div id='comments'>
  <h4>Comments</h4>
  <% if @comments.empty? %>
    There are no comments for this note.
  <% end %>
  <%= render @comments %>
</div>

<h4>New comment</h4>
<%= render "comments/form" %>