<% @full_page = true %>
<h2><%= link_to @note.chapter.book.title, @note.chapter.book %> - <%= link_to @note.chapter.title, [@note.chapter.book, @note.chapter] %></h2>
<h3>Note #<%= @note.number %> - <%= @note.state.titleize %></h3>
<%= render_element(@note.element) %>

<!-- Shamelessly ripped off from GitHub's AWESOME comment styling -->
<div class='comment review-note'>
  <span class='avatar'>
    <% if @note.user %>
      <%= image_tag "http://gravatar.com/avatar/#{Digest::MD5.hexdigest(@note.user.email)}?s=140", :width => 48, :height => 48 %>
    <% end %>
  </span>
  <div class='comment_container'>
    <div class='container'>
      <div class='details'>
        <div class='info'><strong><%= @note.user.try(:email) || "[deleted]" %></strong> started the discussion</div>
        <div class='body'>
          <%= markdown(@note.text) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='comments'>
  <%= render @comments %>
</div>

<%= render "comments/form" %>
