<h2><%= link_to @note.chapter.book.title, @note.chapter.book %> - <%= link_to @note.chapter.title, [@note.chapter.book, @note.chapter] %></h2>
<h3>Note #<%= @note.number %></h3>
<%= render_element(@note.element) %>

<div id='note'>
  <h3><%= @note.user.email %> writes:</h3>
  <%= markdown(@note.text) %>
</div>

<h4>New comment</h4>

<%= render "comments/form" %>

<div id='comments'>
  <h4>Comments</h4>
  <% if @comments.empty? %>
    There are no comments for this note.
  <% end %>
  <%= render @comments %>
</div>