<% @full_page = true %>
<h2><%= link_to @note.chapter.book.title, @note.chapter.book %> - <%= link_to @note.chapter.title, [@note.chapter.book, @note.chapter] %></h2>
<h3>Note #<%= @note.number %> - <%= @note.state.titleize %></h3>
<%= render_element(@note.element) %>

<!-- Shamelessly ripped off from GitHub's AWESOME comment styling -->
<div class='comment review-note'>
  <span class='avatar'>
    <%= image_tag "https://secure.gravatar.com/avatar/9a2a53db8e9b4476038c94a64b32833f?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :width => 48, :height => 48 %>
  </span>
  <div class='comment_container'>
    <div class='container'>
      <div class='details'>
        <div class='info'><strong><%= @note.user.try(:email) || "[deleted]" %></strong> started the discussion</div>
        <div class='body'>
          <%= markdown(@note.text) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='comments'>
  <%= render @comments %>
</div>

<%= render "comments/form" %>
