<% if show_notes %>
  <div id="<%= element.id %>" data-react-class="ElementContainer" data-react-props='{"elementID": <%= element.id %>, "content": <%= element.content.inspect %>, "tag": "<%= element.tag %>", "url": "<%= book_chapter_element_notes_url(@book, @chapter, element.id) %>" }'>
  </div>
<% else %>
  <%= raw element.content %>
<% end %>
