<div class='row'>
  <div class='content col-md-12'>
  <h1><%= @title || "Notes" %> for <%= link_to @book.title, @book %></h1>
  <% if @chapter %>
    <h2><%= link_to "Chapter #{@chapter.position} - #{@chapter.title}", [@book, @chapter] %></h2>
  <% end %>
  <br>

  <%= link_to "Completed notes", [:completed, @book, @chapter, :notes] %>
  <hr>

  <% if @notes.empty? %>
    <p>There are currently no <%= (@title || "notes").downcase %> for this <%= @chapter ? "chapter" : "book" %>.</p>
  <% end %>
  <%= render @notes %>
</div>
