<div class='row'>
  <div class='content col-md-8 col-md-offset-2 note'>
    <% @full_page = true %>
    <% chapter = @note.chapter %>
    <% book = chapter.book %>
    <h2>
      <%= link_to book.title, book %> -
      <%= link_to "#{chapter.position}: #{chapter.title}", [book, chapter] %></h2>
    <h3>Note #<%= @note.number %> - <%= state(@note) %></h3>
    <%= render_element(@note.element, show_notes: false) %>
    <strong><%= link_to "View this element within chapter", book_chapter_path(book, chapter, :anchor => @note.element.nickname) %></strong>

    <div id='comments'>
      <%= render @comments.select(&:persisted?) %>
    </div>

    <%= render "accounts/comments/form" %>
  </div>
</div>
