<%= simple_form_for(current_account, url: choose_plan_url) do |account| %>
  <% @plans.each do |plan| %>
    <%= account.radio_button :plan_id, plan.id %>
    <%= account.label "plan_id_#{plan.id}", plan.name %> 
    (<%= number_to_currency(plan.price) %>) <br>
  <% end %>
  <div id="payment-form"></div>
  <%= account.submit "Finish", class: "btn btn-primary" %>
<% end %>
