<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Books Allowed</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td>
          <%= plan.name %>
        </td>
        <td>
          <%= plan.books_allowed %>
        </td>
        <td>
          <%= number_to_currency(plan.price) %>
        </td>
        <td>
          <td>
            <% if current_account.plan == plan %>
              <button class='btn btn-success'>Current plan</button>
            <% else %>
              <% if current_account.over_limit_for?(plan) %>
                <%= form_tag switch_plan_path, method: :put do %>
                  <%= hidden_field_tag :plan_id, plan.id %>
                  <%= submit_tag "Switch", 
                    id: "choose_#{plan.name.underscore}",
                     class: 'btn btn-primary',
                     disabled: true %>
                <% end %>
              <% else %>
                <%= form_tag switch_plan_path, method: :put do %>
                  <%= hidden_field_tag :plan_id, plan.id %>
                  <%= submit_tag "Switch", 
                    id: "choose_#{plan.name.underscore}",
                     class: 'btn btn-primary' %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
