<div class='row'>
  <div class='col-md-offset-3 col-md-6'>
    <div class='content'>
      <h2>Choose a plan</h2>

      <em>Plans are billed monthly.</em>
      <hr>

      <%= simple_form_for(current_account, url: choose_plan_url) do |account| %>
        <% @plans.each do |plan| %>
          <%= account.radio_button :plan_id, plan.id %>
          <%= account.label "plan_id_#{plan.id}", plan.name %> 
          (<%= number_to_currency(plan.price) %>) <br>
        <% end %>

        <h4>Payment details</h4>
        <div id="payment-form"></div>

        <%= account.submit "Finish", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
var clientToken = "<%= @client_token %>";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
</script>
