<div class='row'>
  <div class='col-md-8 content'>
    <h1><%= current_account.name %> - Books </h1>
    <% @books.each do |book| %>
      <h2><%= link_to book.title, book %></h2>
      <span class='blurb'><%= book.blurb %></span>
    <% end %>
  </div>

  <div id='sidebar' class='col-md-4'>
    <% if owner? %>
      <ul>
        <li><%= link_to "Add Book", new_book_path %></li>
        <li><%= link_to "Invite User", new_invitation_path %></li>
      </ul>
    <% end %>
  </div>
</div>
