<div class='row'>
  <div class='col-md-8 twist-content'>
    <h2>New Book</h2>

    <%= simple_form_for @book do |f| %>
      <%= f.input :title %>
      <%= f.input :github_user, label: "GitHub Username" %>
      <%= f.input :github_repo, label: "GitHub Repo" %>
      <%= f.input :format, collection: [["AsciiDoc", :asciidoc], ["Markdown", :markdown]] %>
      <%= f.input :blurb %>

      <%= f.submit "Add Book", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
