<h2>New Book</h2>

<%= form_for @book do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :path %>
    <%= f.text_field :path %>
  </p>

  <p>
    <%= f.label :blurb %>
    <%= f.text_area :blurb, :rows => 5, :cols => 80 %>
  </p>

  <%= f.submit%>
<% end %>