<div class='row'>
  <div class='col-md-7 content'>

    <h1><%= @book.title %></h1>
    <%= link_to "All notes for this book", book_notes_path(@book) %>
    <hr>

    <h3>Frontmatter</h3>
    <ol class='frontmatter' id='frontmatter'>
      <% @frontmatter.each do |chapter| %>
        <li><%= link_to chapter.title, [@book, chapter] %></li>
      <% end %>
    </ol>

    <h3>Mainmatter</h3>
    <ol class='chapters' id='mainmatter'>
      <% @mainmatter.each do |chapter| %>
        <li><%= link_to chapter.title, [@book, chapter] %></li>
      <% end %>
    </ol>

    <h3>Backmatter</h3>
    <ol class='chapters' id='backmatter'>
      <% @backmatter.each do |chapter| %>
        <li><%= link_to chapter.title, [@book, chapter] %></li>
      <% end %>
    </ol>
  </div>
</div>
