<div class='row'>
  <div id='chapter' class='twist-content col-md-7'>
    <h1><%= link_to @chapter.book.title, @chapter.book %></h1>

    <% if @chapter.part == "mainmatter" %>
      <h2>Chapter <%= @chapter.part_position %> - <%= @chapter.title %></h2>
    <% else %>
      <h2><%= @chapter.title %></h2>
    <% end %>

    <%= link_to "All notes for this chapter", book_chapter_notes_path(@book, @chapter) %>
    <hr>
    <%= react_component "Elements", chapterURL: book_chapter_path(@book, @chapter), elementsURL: book_chapter_elements_path(@book, @chapter) %>
  </div>

  <div class='col-md-4'>
    <div id='sidebar' data-spy="affix">
      <strong id='previous_chapter'><%= previous_chapter_link %></strong>
      <%= render "sidebar", sections: @sections %>
      <strong id='next_chapter'><%= next_chapter_link %></strong>
    </div>
  </div>
</div>

