<!DOCTYPE html>
<html>
  <head>
    <title>Twist</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.001">
    <%= yield :head %>
  </head>
  <body>
    <menu>
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </menu>
    <div id="sidebar_tip" style='display:none'>
      <strong><em>To view the sidebar, turn your device to portrait mode.</em></strong>
    </div>
    <div class='wrapper <%= 'full-page' if @full_page %>'>
      <% flash.each do |k,v| %>
        <div class='flash' id='flash_<%= k %>'><%= v %></div>
      <% end %>

      <%= yield %>
    </div>
   </body>
 </html>
