<!DOCTYPE html>
<html>
  <head>
    <title>Twist</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.001">
    <%= yield :head %>
  </head>
  <body>
    <menu>
      <strong>Twist</strong> |
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </menu>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-12'>
          <% flash.each do |k,v| %>
            <div class='flash flash_<%= k %>'><%= v %></div>
          <% end %>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <%= yield %>
        </div>
      </div>
    </div>
   </body>
 </html>
