<!DOCTYPE html>
<html>
  <head>
    <title>Twist</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |k,v| %>
      <div class='flash' id='flash_<%= k %>'><%= v %></div>
    <% end %>

    <menu>
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </menu>

    <div class='wrapper'>
      <%= yield %>
    </div>

  </body>
</html>
