<!DOCTYPE html>
<html>
  <head>
    <title>Twist</title>
    <%= stylesheet_link_tag    "application", params[:controller] %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.001">
    <%= yield :head %>
  </head>
  <body>
    <menu>
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </menu>
    <div id="sidebar_tip" style='display:none'>
      <strong><em>To view the sidebar, turn your device to portrait mode.</em></strong>
    </div>
    <div class='wrapper <%= 'full-page' if @full_page %>'>
      <% flash.each do |k,v| %>
        <div class='flash' id='flash_<%= k %>'><%= v %></div>
      <% end %>

      <%= yield %>
    </div>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
       var t   = document.createElement('script');
       t.type  = 'text/javascript';
       t.async = true;
       t.id    = 'gauges-tracker';
       t.setAttribute('data-site-id', '4f8b76b1613f5d044e000083');
       t.src = '//secure.gaug.es/track.js';
       var s = document.getElementsByTagName('script')[0];
       s.parentNode.insertBefore(t, s);
       })();
     </script>
   </body>
 </html>
