<div class='col-md-offset-4 col-md-4 content'>
  <h2>Create a new account</h2>

  <%= simple_form_for(@account) do |account| %>
    <%= account.input :name %>
    <%= account.input :subdomain %>

    <%= account.fields_for :owner do |owner| %>
      <%= owner.input :email %>
      <%= owner.input :password %>
      <%= owner.input :password_confirmation %>
    <% end %>

    <%= account.submit class: "btn btn-primary" %>
  <% end %>
</div>
