<div class='row'>
  <%= simple_form_for(@account) do |account| %>
    <div class='col-md-4 col-md-offset-2 content' style='margin-right:10px'>
      <h2>Create a new account</h2>
      <%= account.input :name %>
      <%= account.input :subdomain %>

      <%= account.fields_for :owner do |owner| %>
        <%= owner.input :email %>
        <%= owner.input :password %>
        <%= owner.input :password_confirmation %>
      <% end %>
    </div>
    <div class='col-md-4 content'>
      <h3>Select your plan</h3>
      <% @plans.each do |plan| %>
        <%= account.radio_button "plan_id", plan.id %>
        <%= account.label "plan_id_#{plan.id}", plan.name %> (<%= number_to_currency(plan.price) %>)<br>
      <% end %>

      <div id='dropin'>
      </div>

      <%= account.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<script src="https://js.braintreegateway.com/js/braintree-2.7.0.js"></script>
<script>
$(document).ready(function () {
  braintree.setup(
    "<%= @client_token %>",
    'dropin', {
      container: 'dropin',
      paymentMethodNonceReceived: function (event, nonce) {
      },
      onReady: function () {
        console.log('Braintree is ready');
      }
    }
  );
})
</script>
